.passwordWeak:focus{
	outline-width: 0;
	border-color: #B94A48;
	border-top-color: #B94A48;
	border: 2px solid;
	color: #B94A48;
}

.passwordMedium:focus{
	outline-width: 0;
	border: 2px solid;
	border-color: #c09853;
	border-top-color: #c09853;
	color: #c09853;
}

.passwordStrong:focus{
	outline-width: 0;
	border: 2px solid;
	border-color: #468847;
	border-top-color: #468847;
	color: #468847;
}

.passwordWeakLabel{
	color: #B94A48;
	font-weight: bold;	
}

.passwordMediumLabel{
	color: #c09853;
	font-weight: bold;
}

.passwordStrongLabel{
	color: #468847;
	font-weight: bold;
}

.passwordReset{
	outline-width: 0;
	border: 2px solid;
	border-color: #000000;
	border-top-color: #000000;
	color: #000000;
}


